body {
  background-size: cover;
  background-image: url(./w1\ \(1\).jpg);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 {
  padding-left: 220px;

  font-size: 17.5px;
  align-items: center;
  justify-content: center;
}
.sec2 {
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid white;
  padding: 25px;
  padding-top: 3px;
  margin-right: 220px;
  margin-top: 90px;
  width: 390px;
  height: 420px;
  font-size: 17px;
}
#sign {
  background-color: rgb(255, 255, 255, 0.1);
  font-size: 14px;
  height: 2.5em;
  width: 13em;
}
#sign:hover,
button:hover {
  background-color: rgb(250, 217, 206);
  color: rgb(232, 62, 62);
  border: none;
}
button {
  background-color: rgb(255, 255, 255, 0.2);
  font-size: 15px;
  height: 2.1em;
  width: 10em;
  color: blueviolet;
}
