header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 400px;
}

header hr {
  margin-top: 100px;
  width: 100%;
}


footer img{
    width: 300px;
}

footer{
    display: flex;
    justify-content: center;
}