*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none; 
} 

.contaniner { 
    max-width: 1200px ;
    margin: 0 auto;
}
 
header {
    position: fixed; 
    width: 100; 
    z-index: 2;
}
 
header nav {
    background-color: black;  
    width: 100%; 
} 

header ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 50px;
} 
header ul li.bars { 
    display:none
}

header ul li a { 
    color: #fff; 
    padding: 8px 18px; 
    border-radius: 8px; 
    transition: 0.5s; 
}
 
header ul li a:hover {
    background-color: white; 
    color: #000; 
}

.sec1 .contaniner {
    position: relative; 
    top: 52px; 
    background-image: url(./img.webp); 
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.sec1 p {
    font-size: 20px; 
    width: 700px;
    text-align: center;
}
 
p.underline::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: rgb(12, 148, 12);
    margin-left: 14,2rem; 
margin-top: 4px;
} 

.sec1 p span {
    color: brown; 
    font-weight: bolder; 
    text-shadow: 3px 2px yellow; 
}

.sec1 .text {
    display: flex; 
    row-gap: 30px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
 .sec2 .contaniner {
    background: url(.bg2.webp) center top fixed; 
    background-size: cover;  
    height: 90vh;
 } 

 .sec3 h1 { 
    margin-top: 20px; 
    text-align: center; 
 }

 .sec3 .boxes {  
    border: 2px solid yellow; 
    height: 100vh; 
    width: 100%; 
    position: relative;
 } 
 .sec3 .boxes .box { 
    position: absolute; 
    width: 200px;  
    height: 200px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    font-weight: bolder;
 } 

 .box:first-child { 
    background-color: brown;
    top: 30%;
     left: 42%; 
      z-index: 5; 

 } 

 .box:nth-child(2) {
    background-color: grey; 
    top: 33%; 
    left: 31%; 
 } 

 .box:nth-child(3) {
    background-color: rgb(58, 58, 113);
    top: 55%;
    left: 35%; 
    z-index: 4;   
 }

 .box:nth-child(4) {
    background-color: burlywood;
    top: 57%;
    left: 45%; 
    z-index: 3;  
 } 

 .box:nth-child(5) {
    background-color: green;
    top: 38%;
    right: 30%; 
 }  

    @media only screen and (max-width:767px) { 
        header nav ul li {
            display:none
        }
        header nav ul li.home,
        header nav ul li.bars {
         display:block;
        }
 
        .sec1 .contaniner {
            background-image: url(./bg1.jpg);
            background-size: cover;
         height: 80vh;
        }
        .sec1 .text {
            display: none;
        }
        .sec2 .contaniner {
            background-size:cover;
            height: 80vh;
        }

        .sec3 .boxes .box {
            position: static;
         }  
            .sec3 .boxes { 
                display: flex;
                height: 100%;   
        }

        .sec3 .boxes .box {
             height:100px;
              }
            }
 
















